@using System.Web.UI.WebControls
@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";

}
<h2>Movies</h2>


<hr />
<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>

        </tr>
    </thead>
    <tbody></tbody>
</table>


@section scripts{
    <script>

        $(document).ready(function () {
            $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genreName"
                    }
                    
                ]


            });

        });
    </script>
}